.profile-container {
    display: flex; /* Flex layout for sidebar and form */
    justify-content: space-between; /* Sidebar on left, profile on right */
    align-items: flex-start; /* Align both items (sidebar and profile form) to the top */
    height: 80vh; /* Full viewport height */
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  
    padding-top: 20px;
  }
  
  .notification-form {
    margin-right: 40px;
    margin-top: 30px;
    margin-left: 470px;
    padding: 30px;
    width: 100%;
  }
  
  .profile-heading {
    font-size: 36px;
    font-weight: bold;
    color: #6E6E6E;
    margin-bottom: 20px;
  }

  .subtitle {
    font-family: Figtree;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
  
    font-weight: bold;
    color: #6E6E6E;
    margin-bottom: 20px;
  }
  
  /* Dropdown Container */
.dropdown-container {
    width: 350px;
    position: relative;
    font-family: 'Figtree', sans-serif;
  }
  
  /* Dropdown Header */
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: .5px solid #D9D9D9;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #6F6F6F;
    font-weight: 700;

  }

  
  /* Dropdown List */
  .dropdown-list {
    /* position: absolute; */
    width: 100%;
    border: .5px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 12px;
    border-radius: 5px;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Highlight the active item */
  .dropdown-item.active {
    background-color: #eae5ff;
    color: #7b4fd0;
  }
  
  /* Arrow styles */
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(-180deg);
  }
  
  
  .language-button-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }
  
  .language-continue-btn {
    padding: 12px 55px;
    background-color: #7346d2;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0px;
    font-size: 14px;
  }
  
  .language-continue-btn:hover {
    background-color: #6034b0;
  }
  