.custom-button {
    width: 25vw;
    height: 9vh;
    background-color: #7346D2;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #5b36a6;
}