.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 450px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-animation img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.popup-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 17px 170px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
}

.popup-button:hover {
  background-color: #8a2be2;
}

.show-popup-button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.payment-method-add-success-text {
  display: flex;
  margin-left: 20px;
  color: #6E6E6E;
  text-align: left;

}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.popup-cross-icon {
  height: 15px;
  width: 15px;
  object-fit: contain;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 100px;
  right: 500px;
  background: transparent;
  border: none;
  font-size: 39px;
  cursor: pointer;
  color: #6E6E6E;
}

.close-button:hover {
  color: #8a2be2;
}