.sidebar {
 
  width: 300px;
    margin-top: 110px;
    margin-left: 150px;
    
    
}

   
   


.sidebar ul {
    list-style: none;

    display: flex;      
    flex-direction: column; 
 
   
}

.sidebar li {
  
    height: 20px;

    white-space: nowrap;
    
}


.sidebar-link {
    display: flex;
    align-items: center;
    height: 100%; 
    text-decoration: none; 
    color: #6F6F6F; 
    background-color: transparent;
    padding: 8px;

  
}
 .spano{
    background-color: transparent;
    margin-bottom: 19px;
 }
.li4:hover .spano{
    color: #7346D2;
}
.li4.active .spano{
    color: #7346D2;
    font-weight: 400;
}

 .li4 {
    position: relative;
    cursor: pointer;
 
    padding-left: 25px; 
}

 .li4:hover::before,
 .li4.active::before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
  
     height: 100%; 
     width: 5px;
     background-color: #7346D2;
     border-radius: 0 10px 10px 0;  
    
 }

.li4:hover {
    background-color: #EFE8FE; 
   
 
}


.li4.active {
    background-color: #D4B9FF; 
    color: #7346D2; 

 

  
    margin: 0;
}




.li4.active  .icon-image7{
    content: url('/assets/contact.png');
 
}
.li4:hover .icon-image7{
    content: url('/assets/contact.png');
  
}

.icon-image7 {
    width: 15px;
  background-color: transparent;
}

.icon-image2 {
    width: 15px;
    background-color: transparent;
} 

.li4.active  .icon-image2{
    content: url('/assets/set1.png');

}
.li4:hover .icon-image2{
    content: url('/assets/set1.png');
  
}

.icon-image8 {
    width: 15px;
    background-color: transparent;
} 

.icon-image4 {
    width: 15px;
  background-color: transparent;
   
  
} 
.size{
    background-color: #EFE8FE;
    padding: 8px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-right: 18px;
 
border-radius: 50%;
    margin-left: 19px;
    margin-bottom: 19px;
}
.icon-image5 {
    width: 15px;
    background-color: transparent;
} 
.li4.active  .size{
   background-color: #7346D2;
   
}
.li4:hover .size{
  background-color: #7346D2;
    
}

.li4.active  .icon-image8{
    content: url('/assets/message-1.png');
   
}
.li4:hover .icon-image8{
    content: url('/assets/message-1.png');
   
}



.li4.active  .icon-image4{
    content: url('/assets/notify.png');
   
}
.li4:hover .icon-image4{
    content: url('/assets/notify.png');
   
}

.li4.active  .icon-image5{
    content: url('/assets/vector1.png');
   
}
.li4:hover .icon-image5{
    content: url('/assets/vector1.png');
   
}
 
