.checkout-payment-text {
    font-size: 30px;
    color: #6E6E6E;
    padding-left: 7vw;
    padding-top: 3vh;
    font-weight: bold;
}

.checkout-your-payment-method {
    font-size: 20px;
    color: #6E6E6E;
    padding-left: 7vw;
    padding-top: 3vh;
}

.checkout-card-image {
    height: 38px;
    object-fit: contain;
}

.checkout-card-details-box {
    height: 8.5vh;
    width: 30vw;
    background-color: #EFE5FF;
    border-radius: 8px;
    margin-left: 7vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 1.5vw;
}

.checkout-card-holder-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #EFE5FF;
}

.checkout-card-holder-name {
    font-size: 18px;
    color: #6E6E6E;
    font-weight: bold;
    background-color: #EFE5FF;
}

.checkout-card-holder-number {
    font-size: 12px;
    color: #6F6F6F;
    font-weight: lighter;
    background-color: #EFE5FF;
}

.checkout-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7vw;
    width: 31vw;
    padding-top: 2.5vh;
}

.checkout-list-title {
    font-size: 16px;
    color: #6F6F6F;
}

.checkout-list-subtitle {
    font-size: 18px;
    color: #6E6E6E;
    font-weight: bold;
}

.checkout-apply-promo-box {
    display: flex;
    width: 30vw;
    height: 6vh;
    border: 1px solid #D9D9D9;
    margin-left: 7vw;
    margin-top: 3vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
}

.checkout-apply-promo-input {
    border: none;
}

.checkout-apply-promo-input::placeholder {
    color: #C5C5C5;
    font-weight: lighter;
}

.checkout-apply-text {
    font-size: 18px;
    color: #7346D2;
    font-weight: 600;
}
.checkout-list-total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7vw;
    width: 31vw;
    padding-top: 5vh;
}
.checkout-list-total-text {
    font-size: 20px;
    color: #6E6E6E;
    font-weight: bold;
}
.checkout-list-price-text {
    font-size: 20px;
    color:#7346D2;
    font-weight: bold;
}

.checkout-pay-now-button {
    margin-left: 7vw;
    width: 12vw;
    height: 6vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}