.preferences-page {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  margin-left: 400px;
}


.preferences-layout {
  display: flex;
  flex: 1;
  background-color: #fff;
}




.preferences-content {
  flex: 0.75; 
  padding: 40px;
  background-color: #fff;
}

.preferences-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #3e3e3e;
}


.preference-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  

  padding: 20px;
  border-radius: 10px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.icon-imagep {
  width: 15px;
  height: 15px;
  padding: 7px;
  margin-right: 18px;
  background-color: #EFE8FE;
  border-radius: 50%;
  margin-left: 19px;
}

.icon-imagel {
  width: 20px;
  height: 20px;
  padding: 7px;
  margin-right: 18px;
  background-color: #EFE8FE;
  border-radius: 50%;
  margin-left: 19px;
}


.preference-card {
  background-color: white;
  transition: background-color 0.3s; 
}

.preference-card:hover {
  background-color: #EFE8FE ;
  color: #7346D2;
}

.preference-card:hover .preference-text h3,
.preference-card:hover .preference-text p {
  background-color: #EFE8FE; 
 
  
}

.preference-card.active {
  background-color: #eceaff; 
  color: #333; 
  color: #7346D2;
}



.preference-card:hover .preference-text h3,
.preference-card:hover .preference-text p,
.preference-card:hover .preference-arrow,
.preference-card:hover .preference-icon,
.preference-card:hover .icon-imagep,
.preference-card:hover .icon-image9 {
  background-color: #EFE8FE; 
 
 
  /* Change this to the desired background color on hover */
}
.preference-card:hover .preference-text h3{
  background-color: #EFE8FE; 
 
  color: #7346D2;
}
/* Change the color of the arrow as well */
.preference-card.active .preference-arrow {
  background-color: #eceaff; /* Change arrow background */
}


.preference-icon {
  font-size: 24px;
  color: #6f42c1;
  margin-right: 20px;
}

.preference-text h3 {
  margin: 0;
  font-size: 18px;
  color: #6F6F6F;
  ;

  
}

.preference-text p {
  margin: 0;
  font-size: 14px;
 
  color: #6F6F6F;
}
.icon-image9 {
  width: 15px;
  height: 20px;
  padding: 7px;
  margin-left: 250px;
 

  
}


.icon-image6 {
  background-color: #7346D2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 6px;
  margin-left: 18px;
  margin-right: 18px;
}
.preference-arrow {
  font-size: 20px;
  color: #bbb;
}
.link-wrapper{
  text-decoration: none;

}

@media (max-width: 768px) {
  .preferences-layout {
    flex-direction: column;
  }

  .sidebar {
    flex: 1;
    margin-bottom: 20px;
  }

  .preferences-content {
    padding: 20px;
  }
}